* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #1f2937;
}


header {
    background: #18243a;
    color: white;
    padding: 28px 6%;
}

header h1 {
    font-size: 30px;
    margin-bottom: 6px;
}

header p {
    opacity: 0.8;
}


main {
    width: 88%;
    max-width: 1200px;
    margin: 30px auto;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin-bottom: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 22px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.card h3 {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 12px;
}

.card p {
    font-size: 25px;
    font-weight: bold;
}


.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.chart-box {
    background: white;
    border-radius: 12px;
    padding: 22px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.chart-box h2 {
    font-size: 19px;
    margin-bottom: 25px;
}

.bar-row {
    display: grid;
    grid-template-columns: 90px 1fr 80px;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
    font-size: 13px;
}

.bar {
    height: 20px;
    background: #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
}

.bar i {
    display: block;
    height: 100%;
    background: #4967d8;
    border-radius: 20px;
}

.bar-row b {
    text-align: right;
    font-size: 12px;
}

.donut {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 15px auto;

    background: conic-gradient(
        #4967d8 0 55.56%,
        #9aa8d8 55.56% 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.donut-center {
    width: 105px;
    height: 105px;
    background: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 25px;
    font-weight: bold;
}

.donut-center small {
    font-size: 11px;
    color: #6b7280;
}


.legend {
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 12px;
}


.insights {
    background: white;
    border-radius: 12px;
    padding: 22px;
    margin-top: 22px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.insights h2 {
    margin-bottom: 15px;
}

.insights li {
    margin: 10px 0;
    margin-left: 20px;
}


footer {
    text-align: center;
    padding: 25px;
    color: #6b7280;
    font-size: 13px;
}

@media (max-width: 850px) {

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {

    .cards {
        grid-template-columns: 1fr;
    }
}